
.modal__container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background: var(--sixth-mode-color);
    box-sizing: border-box;
    z-index: 150;
}
.modal__container-active {
    display: flex;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 500px;
    border: 3px solid var(--primary-bg-color);
    background: var(--primary-mode-color);
    padding: 40px;
    border-radius: 20px;
    gap: 40px;
    box-sizing: border-box;
}

.modal__img__container {
    height: 100%;
}

.modal__img {
    border-radius: 50%;
    height: 100%;
    background-color: var(--secondary-mode-color);
}

.modal__description {
    color: var(--primary-text-color);
    font-family: Inter-medium;
    font-size: 20px;
    box-sizing: border-box;
    hyphens: auto;
    max-width: 500px;
}
.modal__description {
  color: var(--primary-text-color);
  font-family: Inter-medium;
  font-size: 20px;
  box-sizing: border-box;
  hyphens: auto;
  max-width: 500px;
  overflow-y: auto;
}

.modal__description::-webkit-scrollbar {
  width: 8px;
}

.modal__description::-webkit-scrollbar-button:increment,
.modal__description::-webkit-scrollbar-button {
  display: none;
}

/* Estilos del scrollbar para el modo oscuro */
.modal__description::-webkit-scrollbar-thumb {
  background-color: rgb(17, 73, 114);
  border-radius: 20px;
  border: 2px solid rgb(40, 40, 40);
}

.modal__description::-webkit-scrollbar-thumb:hover {
  background-color: rgba(15, 145, 210, 0.5);
}

.modal__description::-webkit-scrollbar-thumb:active {
  background-color: rgba(15, 145, 210, 0.3);
}

.modal__description.light::-webkit-scrollbar {
  -webkit-appearance: none;
  background: rgb(238, 238, 238);
}

.modal__description.light::-webkit-scrollbar-thumb {
  background-color: rgb(71, 178, 255);
  /* Cambia al color de fondo principal */
  border-radius: 20px;
  border: 2px solid rgb(238, 238, 238);
}

.modal__description.light::-webkit-scrollbar-thumb:hover {
  background-color: rgb(35, 152, 236);
  /* Cambia al color de fondo secundario al pasar el mouse */
}

.modal__description.light::-webkit-scrollbar-thumb:active {
  background-color: rgba(15, 145, 210, 0.3);
  /* Cambia al tercer color de fondo al hacer clic */
}

.modal__close__icon__container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.modal__close__icon {
    fill: var(--primary-text-color);
    cursor: pointer;
}


.modal__close__icon:hover {
    filter: brightness(1.3);
}


.affiliates {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: var(--nineth-mode-color);
    padding: 100px 0 200px 0;
  }
  
  .affiliates__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    max-width: 1000px;
  }
  
  .affiliates__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
}
  
  .affiliates__element__img__container {
    display: flex;
    justify-content: center;
    align-items: center;    
    max-width: 260px;
    max-height: 260px;
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  .affiliates__element__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: var(--img-saturation);
  }

  .affiliates__element__img:hover {
    filter: var(--img-saturation-hover);
  }

  .affiliates__element__title {
    margin: 0;
    font-size: 23px;
    font-family: Inter-medium;
    color: var(--primary-text-color);
    text-transform: uppercase;
    text-align: center;
  }


@media (max-width: 850px) {
  
  .modal {
    flex-direction: column;
    max-height: 80vh;
    gap: 10px;
  }

  .modal__img__container {
    max-height: 50vw;
  }

  .modal__img {
    max-height: 100%;
  }

  .modal__description {
    max-width: 70vw;
    text-align: center;
    hyphens: auto;  
    overflow-wrap: break-word;
    white-space: normal;
    max-height: 60vh;
    overflow-y: auto;
  }
  
}

@media (max-width: 420px) {
  
  .modal__img__container {
    max-height: 70vw;
  }

}

