
main {
  gap: 200px;
}

.ranking {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 250px;
}

.ranking__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking__title__container,

.referees__title__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking__title,
.goPDF__title,
.referees__title {
  margin: 10px;
}

.ranking__title__date,
.goPDF__title__date,
.referees__title__date {
  font-family: Inter-bold;
  font-size: 20px;
  color: var(--fourth-text-color);
  text-align: center;
}

.ranking__content {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.ranking__content__category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking__category__title {
  font-family: Inter-bold;
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.ranking__category__img__container,
.goPDF__img__container {
  position: relative;
}

.ranking__category__img,
.goPDF__img {
  border-radius: 20px;
  transition: 0.2s box-shadow ease;
  filter: var(--img-saturation);
}

.ranking__category__img:hover,
.goPDF__img:hover {
  box-shadow: 0 0 50px var(--secondary-bg-color);
}

.ranking__img__goPDF,
.goPDF__img__goPDF {
  position: absolute;
  text-transform: uppercase;
  font-size: 22px;
  font-family: Inter-medium;
  right: 0;
  opacity: 0.9;
  bottom: 40px;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
  border-radius: 10px 0 0 10px;
  padding: 5px 30px;
}


.goPDF {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goPDF__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.goPDF__title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goPDF__content {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.referees {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.referees__container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.referees__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referees__img {
  border-radius: 10px;
  border: 4px solid var(--primary-bg-color);
  filter: var(--img-saturation);
}

.referees__name {
  font-family: Inter-bold;
  font-size: 20px;
  margin: 10px;
  color: var(--fourth-text-color);
  text-align: center;
}

.coaching {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}































/*


.modal__container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.753);
  padding: 30px;
  box-sizing: border-box;
  z-index: 1000;
}

.modal__container-active {
  display: flex;
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  max-height: 800px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  box-sizing: border-box;
  overflow: scroll;
}

.modal__content::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; 
}

.modal__icon__container {
  position: fixed;
  top: 35px;
  right: 35px;
  background: #ff4848;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 4px solid white;
}

.modal__icon {
  height: 50px;
  fill: aliceblue;
}

.modal__content__img {
  height: 200%;
}

.coaching,
.referees,
.referees__judges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.national__champions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.national__champions__tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  gap: 100px;
}

.national__champions__tables__content {
  width: 100%;
  overflow-x: auto;
}

.national__champions__tables__content::-webkit-scrollbar {
  height: 8px;
}

.national__champions__tables__content::-webkit-scrollbar-thumb {
  background: rgba(70, 148, 242, 0.703);
  border-radius: 10px;
}

.national__champions__tables__content::-webkit-scrollbar-thumb:hover {
  background: rgba(70, 147, 242, 0.856);
}

.national__champions__tables__content::-webkit-scrollbar-thumb:active {
  background: rgb(70, 147, 242);
}

.national__champions__tables__content::-webkit-scrollbar-track {
  background: #1864FC;
}

.national__ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px 200px 50px;
}

.ranking__container,
.ranking__content,
.ranking__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ranking__container {
  gap: 50px;
}

.ranking__tables {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.table__img {
  max-width: 100%;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
}

.ranking__title {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  font-family: system-ui;
}

.ranking__element__openImg {
  text-align: center;
  font-family: system-ui;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  justify-content: center;
}

.ranking__element__openImg:hover {
  text-decoration: underline;
}

.category__title {
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  font-family: system-ui;
}


@media (max-width: 1200px) {

  .ranking__element__openImg {
    display: flex;
  }

}

@media (max-width: 900px) {

  .ranking__element__openImg {
    font-size: 25px;
  }
  
}

@media (max-width: 600px) {

  .national__champions__tables {
    gap: 50px;
  }

  .ranking__tables {
    flex-wrap: wrap;
  }

  .ranking__element__openImg {
    font-size: 20px;
    margin: 10px 0;
  }
  
}




*/
