.footer {
  padding: 50px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-mode-color);
}

.footer__content__container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: end;
  gap: 100px;
}

.footer__content__links {
  padding: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: end;
  gap: 20px;
}

.footer__content__link a {
  text-align: center;
  text-decoration: none;
  font-family: Inter-regular;
  font-size: 25px;
  color: var(--primary-text-color);
}


.footer__content__middle__logo {
  filter: opacity(0.5);
  cursor: pointer;
}

.footer__content__middle__logo:hover {
  filter: opacity(0.8);
}

.footer__content__middle__socialMedia__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 10px;
}

.footer__contact__middle__socialMedia__element svg {
 fill: var(--secondary-bg-color);
}
.footer__content__link a:hover,
.footer__contact__middle__socialMedia__element svg:hover {
  filter: brightness(1.3);
  text-decoration: underline;
}

.footer__content__links-2 {
  align-items: start;
}

.footer__hr {
  width: 65%;
  margin: 20px 0;
}

.footer__copyright__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright__text {
  font-family: Inter-medium;
  font-size: 15px;
  margin: 5px;
  color: var(--secondary-text-color);
}

.footer__copyright__hr {
  width: 90%;
  color: var(--third-text-color);
  margin: 5px;
  filter: opacity(0.2);
}

.footer__codexpert__link {
  text-decoration: none;
  font-family: Inter-bold;
  font-size: 13px;
  margin: 5px;
  color: var(--primary-text-color);
}

.copyRight {
  margin: 0;
}

.footer__line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.504);
  border-radius: 5px;
}

.codexpert__link {
  color: rgba(255, 255, 255, 0.811);
  text-decoration: none;
}


@media (max-width: 900px) {
  
  .footer { 
    padding-top: 20px;
    background: linear-gradient(to right, #3396FF, #1864FC)
  }

  .footer__background {
    display: none;
  }

}