
@font-face {
  font-family: Inter-bold;
  src: url(../fonts/Inter/Inter-Bold.ttf);
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: 0.2s background ease, 0.2s height ease;
}

.header-active {
  background: var(--primary-mode-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.nav__elements__container {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  padding: 0;
  margin: 15px 0;
}

.nav__element {
  position: relative;
  font-size: 20px;
  font-family: Inter-bold;
  display: flex;
  justify-content: center;
}

.nav__element:hover > .nav__element__link {
  filter: brightness(1.4);
  transition: 0.3s filter ease;
}

.nav__element::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 30px;
  background: linear-gradient(to top, var(--fourth-text-color), transparent);
  transform: translateY(-50px);
  border-bottom: 3px solid var(--primary-mode-color-contrast);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s transform ease, 0.2s opacity ease;
}

.nav__element:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.nav__element__link {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
  padding: 0 10px;
  color: var(--secondary-text-color)
}

.nav__logo__container {
  width: 80px;
  height: 80px;
  margin: 15px 0;
  transition: 0.2s width ease, 
              0.2s height ease, 
              0.2s margin ease;
}

.nav__logo-active {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

.nav__logo {
  filter: brightness(0.8);
  width: 100%;
}

.nav__logo:hover {
  filter: brightness(0.9);
}

.nav__barsIcon__container {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav__barsIcon {
  display: none;
  height: 45px;
  fill: var(--secondary-text-color);
}

.nav__barsIcon-close {
  height: 55px;
}

.nav__barsIcon-active {
  display: flex;
  z-index: 1000;
}

@media (max-width: 950px) {

  .header {
    height: 100px;
  }

  .header-active {
    height: 70px;
  }
  
  .nav__elements__container {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--primary-mode-color);
    transition: transform 0.5s ease;
    transform: translateX(1200px) translateY(-15px);
  }

  .nav__elements__container-active {
    transform: translateX(-30px) translateY(-15px);
  }

  .nav__logo-active {
    margin: 10px 0;
  }

  .nav__barsIcon__container {
    display: flex;
  }

}
