
@font-face {
  font-family: Inter-bold;
  src: url(../fonts/Inter/Inter-Bold.ttf);
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: 0.2s background ease;
}

.header-active {
  background: var(--primary-mode-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 60px;
  padding: 0 30px;
  box-sizing: border-box;
}

.nav__elements__container {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  padding: 0;
  margin: 15px 0;
}

.nav__element {
  position: relative;
  font-size: 20px;
  font-family: Inter-bold;
  display: flex;
  justify-content: center;
}

.nav__element:hover > .nav__element__link {
  filter: brightness(1.4);
  transition: 0.3s filter ease;
}

.nav__element::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 30px;
  background: linear-gradient(to top, var(--fourth-text-color), transparent);
  transform: translateY(-50px);
  border-bottom: 3px solid var(--primary-mode-color-contrast);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s transform ease, 0.2s opacity ease;
}

.nav__element:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.nav__element__link {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
  padding: 0 10px;
  color: var(--secondary-text-color)
}

.nav__logo__container {
  width: 80px;
  height: 80px;
  margin: 15px 0;
  transition: 0.2s width ease, 
              0.2s height ease, 
              0.2s margin ease;
}

.nav__logo-active {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

.nav__logo {
  filter: brightness(0.8);
  width: 100%;
}

.nav__logo:hover {
  filter: brightness(0.9);
}
/*



@media (max-width: 1200px) {
  

  .header__links__container {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 1800px;
    background: linear-gradient(to right, #3396FF, #1864FC);
    transition: left 1s ease;
    gap: 20px;
  }

  .header__links__container li a {
    font-size: 30px;
  }  

  .header__nav__bars__container {
    display: flex;
  }
  
}

@media (max-width: 900px) {

  .header__container { 
    background: linear-gradient(to right, #3396FF, #1864FC)
  }

  .header__logo__img {
    width: 70px;
    height: 70px;
  }
  
  .header__background {
    display: none;
  }
  
}

@media (max-width: 600px) {

  header {
    height: 60px;
  }
  
  .header__container { 
    padding: 0;
  }

  .header__nav {
    height: 60px;
  }

  .header__logo {
    left: 10px;
    top: 10px;
  }

  .header__logo__img {
    width: 40px;
    height: 40px;
  }
  
  .header__nav__open__icon, .header__nav__close__icon {
    height: 34px;
  }
  
  .header__nav__close__icon {
    height: 50px;
  } 
  
  
}


*/
