

.table__container {
    border-radius: 20px;
    border: 4px solid var(--fourth-bg-color);
    background-color: var(--fourth-bg-color);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
}

table {
    margin: 0 auto;
    font-size: 25px;
    font-family: Inter-regular;
    color: aliceblue;
    border-radius: 20px;
    border-collapse: separate; 
    border-spacing: 4px;
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
}


th,
td {
    padding: 15px;
    text-align: center;
}

th {
    font-family: Inter-bold;
}

td {
    background-color: var(--third-mode-color);
}


@media (max-width: 900px) {

    table {
        font-size: 18px;
        border-radius: 15px;
        padding: 15px;
        max-width: 600px;
    }

    th,
    td {
        padding: 12px;
        border-radius: 5px;
    }

}

@media (max-width: 600px) {

    table {
        font-size: 16px;
        border-radius: 12px;
        padding: 12px;
        max-width: 400px;
        width: 90%;
    }

    th,
    td {
        padding: 10px;
        border-radius: 5px;
    }
}