
.deportist__card__description {
  color: rgba(240, 248, 255, 0.783);
  font-family: system-ui;
  text-align: center;
  font-size: 18px;
  margin: 30px;
}

.deportist__card__description a {
  text-decoration: none;
  color: rgb(255, 237, 121);
  text-shadow: 0 0 5px rgb(255, 128, 0);
  transition: color 0.1s ease-in-out;
}

.deportist__card__description a:hover {
  color: rgb(255, 255, 255);
}

.deportist__card__content {
  margin: 20px auto;
  overflow-y: auto;
  max-width: 1000px;
}

.deportist__card__content::-webkit-scrollbar {
  height: 8px;
}

.deportist__card__content::-webkit-scrollbar-thumb {
  background: rgba(70, 148, 242, 0.703);
  border-radius: 10px;
}

.deportist__card__content::-webkit-scrollbar-thumb:hover {
  background: rgba(70, 147, 242, 0.856);
}

.deportist__card__content::-webkit-scrollbar-thumb:active {
  background: rgb(70, 147, 242);
}

.deportist__card__content::-webkit-scrollbar-track {
  background: #1864FC;
}



@media (max-width: 600px) {

  .deportist__card__description {
      font-size: 16px;
  }

}

@media (max-width: 700px) {

  .deportist__card__description {
      font-size: 16px;
  }

  .deportist__card__content {
    margin: 20px;
  }

}