.files {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.files__container {
  background-color: rgba(31, 145, 244, 0.46);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
  padding: 0 50px 50px 50px;
  width: fit-content;
  max-width: 1000px;
}

.first__files__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.file__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.files__subtitle {
  color: aliceblue;
  font-size: 40px;
  margin: 0;
  margin-top: 25px;
  text-align: center;
}

.files__line {
  background-color: aliceblue;
  height: 2px;
  width: 200px;
  margin: 25px;
  margin-top: 10px;
  border-radius: 5px;
}

.files__subcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: fit-content;
}

.files__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(10, 49, 84);
  width: 300px;
}


.file__name {
  min-height: 60px;
  font-size: 20px;
  border-radius: 15px;
  color: aliceblue;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0 25px;
}

.file__img__container {
  width: 300px;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.459);
  z-index: 10;
}

.file__img {
  height: 100%;
  background: rgba(0, 0, 0, 0.908);
}



@media (max-width: 1200px) {

  .file__name {
    font-size: 16px;
  }
  
  .files__container {
    max-width: 700px;
  }

}

@media (max-width: 900px) {

  .files { 
    padding: 50px 20px;
  }

  .files__container { 
    padding: 0 20px 20px 20px;
    max-width: 600px;
  }

  .files__subtitle {
    font-size: 30px;
    margin-top: 25px;
  }

  .file__name {
    font-size: 16px;

  }

  .files__element,
  .file__img__container {
    width: 220px;
    height: 380px;
  }

}

@media (max-width: 600px) {

  .file__name {
    font-size: 16px;
  }

  .files__container { 
    padding: 0 20px 20px 20px;
    max-width: 300px;
  }

}
