.join__CUK {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
  padding: 50px;
}

.join__CUK__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 137, 254, 0.431);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
  padding: 30px;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(230, 234, 238);
  max-width: 900px;
  gap: 20px;
}

.join__CUK__content__text, 
.join__CUK__content__text p, 
.join__CUK__content__text ul {
  margin: 0;
}


@media (max-width: 600px) {

  .join__CUK {
    padding: 25px;
  }

  .join__CUK__content {
    padding: 25px;
    font-size: 18px;
    gap: 15px;
  }

  ul .join__CUK__content__tex,
  .join__CUK__content__text ul {
    padding-inline-start: 20px;
  } 

}


@media (max-width: 400px) {
  
  .join__CUK {
    padding: 15px;
  }

  .join__CUK__content {
    padding: 25px;
    font-size: 16px;
    gap: 10px;
  }

}