.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: system-ui;
}

.member__element {
  background-color: rgba(29, 129, 243, 0.431);
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
}

.member__name {
  content: attr(data-description);
  background-color: rgba(69, 156, 255, 0.748);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(231, 235, 238);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  height: 80px;
}

.member__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.member__logo {
  width: 100%;
}
