.affiliates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 200px 0;
}

.affiliates__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.affiliate__element {
  background-color: rgba(28, 113, 250, 0.476);
  backdrop-filter: blur(3px);
  border-radius: 30px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.308);
  transition: transform 0.3s ease-in-out;
}

.affiliate__element:hover {
  transform: scale(1.05);
}

.affiliate__element:hover > .affiliate__info {
  opacity: 1;
}

.affiliate__logo {
  max-height: 200px;
  max-width: 100%;
}

.affiliate__name {
  font-family: system-ui;
  font-size: 20px;
  text-align: center;
  color: rgb(229, 235, 240);
  background-color: rgba(33, 131, 250, 0.596);
  border-radius: 10px;
  height: 100px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.affiliate__info {
  background-color: rgba(0, 0, 0, 0.523);
  width: 300px;
  height: 400px;
  padding: 20px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  color: rgb(223, 226, 228);
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
  font-size: 15px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.affiliate__info div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.614);
  padding: 5px;
  border-radius: 7px;
}

.affiliate__info p {
  margin: 0;
  max-width: 200px;
}

.affiliate__info a {
  color: rgb(223, 226, 228);
  text-decoration: none;
  max-width: 200px;
}
