.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px 0;
}

.events__title {
  margin: 20px;
}

.calendar__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  background-color: var(--primary-bg-color);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.ganchos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -40px;
  padding: 0 80px;
  box-sizing: border-box;
}

.gancho {
  width: 30px;
  height: 60px;
  background-color: var(--details-bg-color);
  border-radius: 30px;
}

.calendar__top {
  width: 100%;
  padding: 30px 25px 25px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__date__container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.calendar__year {
  font-size: 20px;
  font-family: Inter-bold;
  color: var(--primary-text-color);
  margin: 0;
}

.calendar__month__name {
  font-size: 60px;
  font-family: Inter-bold;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin: 0;
  line-height: 60px;
}

.calendar__arrow {
  color: var(--primary-text-color);
  padding-top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.calendar__arrow:hover {
  filter: brightness(1.2);
}

.calendar__content {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.calendar__day__names__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--primary-mode-color);
  gap: 3px;
}

.calendar__day__name {
  height: 70px;
  font-size: 20px;
  background-color: var(--primary-mode-color);
}

.calendar__days__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  gap: 3px;
}

.calendar__day__name,
.calendar__day {
  color: var(--secondary-text-color);
  font-family: Inter-medium;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 75px;
}

.calendar__day {
  background-color: var(--secondary-mode-color);
  font-size: 25px;
}

.calendar__day__today {
  background-color: var(--primary-bg-color);
  width: 55px;
  height: 55px;
  line-height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event__day {
  border: 4px solid var(--primary-bg-color);
  width: 55px;
  height: 55px;
  line-height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.event__day:hover::after {
  content: attr(data-description);
  position: absolute;
  background-color: var(--third-mode-color);
  transform: translateY(50px);
  min-width: 120px;
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.calendar__events__container {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.no__events {
  width: 250px;
  padding: 20px;
  font-family: Inter-bold;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-text-color);
  background: var(--primary-bg-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.calendar__event {
  width: 250px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}

.calendar__event__top {
  color: var(--primary-text-color);
  font-family: Inter-bold;
  font-size: 25px;
}

.calendar__event__title {
  margin: 15px 5px;
  text-align: center;
}

.calendar__event__content {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.event__location,
.event__date {
  margin: 5px 0;
  color: var(--secondary-text-color);
  font-family: Inter-medium;
  font-size: 18px;
}

/*


@media (max-width: 1200px) {

  .next__events__title { 
    font-size: 7vw;
  }
  
  .calendar__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 40px;
    max-width: 900px;
  }

  .calendar {
    padding: 5px;
    grid-column: 1;
  }


  .calendar__events__container {
    grid-column: 3;
    max-width: 250px;
    gap: 30px;
  }

  .calendar__event {
    box-sizing: border-box;
  }

}

@media (max-width: 900px) {

  .calendar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calendar__events__container { 
    max-width: 100%;
  }

  .calendar__event { 
    width: 100%;
  }

  .calendar__event__title {
    margin: 15px;
  }

}

@media (max-width: 600px) {

  .next__events__title {
    font-size: 35px;
  }

}

@media (max-width: 700px) {

  .ganchos {
    margin-top: -30px;
    padding: 0 60px;
  }

  .gancho {
    width: 20px;
    height: 40px;
    border-radius: 20px;
  }

  .calendar__top {
    padding: 15px;
  }

  .calendar__month__name {
    font-size: 40px;
  }

  .calendar__arrow {
    width: 35px;
    height: 35px;
  }

  .calendar__day__name,
  .calendar__day {
    height: 50px;
    width: 50px;
    font-size: 17px;
  }

  .calendar__day {
    font-size: 17px;
  }

  .calendar__day__name {
    height: 50px;
    font-size: 17px;
  }

  .event__day {
    width: 40px;
    height: 40px;
    font-size: 17px;
  }

  .event__day:hover:after {
    font-size: 13px;
  }

}

@media (max-width: 400px) {

  .calendar__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 40px;
    max-width: 300px;
  }

  .calendar {
    border-radius: 15px;
  }

  .ganchos {
    margin-top: -30px;
    padding: 0 60px;
  }

  .gancho {
    width: 20px;
    height: 40px;
    border-radius: 20px;
  }

  .calendar__top {
    padding: 15px;
  }

  .calendar__content {
    border-radius: 10px;
  }

  .calendar__month__name {
    font-size: 25px;
  }

  .calendar__arrow {
    width: 25px;
    height: 25px;
  }

  .calendar__day__name,
  .calendar__day {
    height: 35px;
    width: 35px;
    font-size: 15px;
  }

  .calendar__day {
    font-size: 15px;
  }

  .calendar__day__name {
    height: 35px;
    font-size: 15px;
  }

  .event__day {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }

  .event__day:hover:after {
    font-size: 12px;
  }
  
  .calendar__event__title {
    font-size: 18px;
  }

  .event__location,
  .event__date { 
    font-size: 16px;
  }

}

*/
