.news {
  display: flex;
  flex-wrap: wrap;
  font-family: system-ui;
  gap: 50px;
  justify-content: center;
}

.recent__news {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.recent__news__title {
  font-size: 70px;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
}

.new__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1400px;
}

.new {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.311);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.283);
}

.new__title {
  color: rgb(224, 231, 238);
  font-size: 27px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.new__img {
  width: 100%;
  height: 100%;
  min-height: 450px;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new1 {
  background-image: url(../../imgs/new1.jpg);
}

#new2 {
  background-image: url(../../imgs/new2.png);
  background-position: top;
}

#new3 {
  background-image: url(../../imgs/new3.jpeg);
  background-position: top;
}

#new4 {
  background-image: url(../../imgs/new4.jpg);
  background-position: top 40% center;
}

#new5 {
  background-image: url(../../imgs/new5.jpg);
}

#new6 {
  background-image: url(../../imgs/new6.jpeg);
}

#new7 {
  background-image: url(../../imgs/new7.jpeg);
}

#new8 {
  background-image: url(../../imgs/new8.jpg);
}

#new9 {
  background-image: url(../../imgs/new9.jpeg);
}

#new10 {
  background-image: url(../../imgs/new10.jpg);
}

#new11 {
  background-image: url(../../imgs/new11.jpeg);
}

#new12 {
  background-image: url(../../imgs/new12.jpg);
}

#new13 {
  background-image: url(../../imgs/new13.jpg);
}

.new__date {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: rgb(224, 231, 238);
  background-color: rgba(0, 0, 0, 0.607);
  backdrop-filter: blur(5px);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}

.more__info__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.more__info {
  text-decoration: none;
  color: rgb(224, 231, 238);
  font-size: 20px;
  background-color: rgba(21, 77, 168, 0.431);
  backdrop-filter: blur(7px);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.more__info:hover {
  transform: scale(1.05);
}

.new__img:hover > .more__info__container {
  opacity: 1;
}

.new__img:hover > .new__date {
  display: none;
}

.know__more {
  text-decoration: none;
  font-size: 35px;
  color: rgb(224, 231, 238);
  background-color: rgba(0, 0, 0, 0.461);
  border: 4px solid rgb(229, 229, 229);
  backdrop-filter: blur(2px);
  padding: 5px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.know__more:hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(27, 27, 27);
}

@media (max-width: 1200px) {

  .recent__news__title { 
    font-size: 7vw;
  }

}

@media (max-width: 700px) {

  .new {
    width: 87%;
  }

}

@media (max-width: 600px) {
  
  .recent__news__title {
    font-size: 35px;
    margin: 0;
    padding: 0 10px;
  }

  .new__title{
    font-size: 20px;
  }

  .know__more {
    font-size: 28px;
    padding: 5px 15px;
    border: 2px solid rgb(229, 229, 229);
  }
  
}

@media (max-width: 400px) {

  .new__img {
    min-height: 300px;
  }

  .more__info {
    font-size: 18px;
    padding: 15px;
  }
  
}