
.news {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: system-ui;
  gap: 30px;
  align-items: center;
  padding: 200px 0 100px 0;
}

.news-start {
  background-image: url(../../imgs/background/start-news-background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}


.news__title {
  margin: 0;
}

.news__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new__main {
  padding: 10px;
}

.new__container {
  position: relative;
  display: flex;
  background: var(--fourth-mode-color);
  padding: 50px;
  border-radius: 10px;
  width: 530px;
  max-height: 300px;
}

.new__img__container {
  display: flex;
  align-items: center;
  margin-left: -130px;
}

.new__img {
  border: 1px solid var(--primary-mode-color-contrast);
  width: 275px;
  height: 235px;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 10px;
}

.new__img:hover, .new__image:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.new__description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 50px;
}

.new__description__title {
  font-family: Inter-bold;
  text-transform: uppercase;
  font-size: 23px;
  width: 330px;
  color: var(--primary-text-color);
  margin: 0;
}

.new__description__text {
  font-family: Inter-regular;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.new__description__moreInfo {
  background: var(--secondary-bg-color);
  color: black;
  text-decoration: none;
  font-family: Inter-medium;
  font-size: 20px;
  border-radius: 5px;

  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s filter ease;
}

.new__description__moreInfo:hover {
  filter: brightness(1.3);
}

.new__date {
  font-family: Inter-medium;
  font-size: 14px;
  color: var(--primary-text-color);
  background: var(--third-bg-color);
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  bottom: 30px;
  right: 0;
}

.news__subcontainer {
  padding: 10px;
}

.news__images__container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
}

.new__image {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  filter: brightness(0.5);
  border: 1px solid #ffffff;
}

.knowMore__container {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);

}

.knowMore__container:hover > .knowMore__icon {

  transform: translateX(10px);
 }

.knowMore {
  font-size: 30px;
  font-family: Inter-bold;
  color: var(--secondary-text-color);
}

.knowMore:hover {
 filter: brightness(1.3); 
}


.knowMore__icon {
  transition: 0.2s transform ease;
  width: 40px;
  height: 40px;
  fill: var(--secondary-text-color);
}




/*


@media (max-width: 1200px) {

  .recent__news__title { 
    font-size: 7vw;
  }

}

@media (max-width: 700px) {

  .new {
    width: 87%;
  }

}

@media (max-width: 600px) {
  
  .recent__news__title {
    font-size: 35px;
    margin: 0;
    padding: 0 10px;
  }

  .new__title{
    font-size: 20px;
  }

  .know__more {
    font-size: 28px;
    padding: 5px 15px;
    border: 2px solid rgb(229, 229, 229);
  }
  
}

@media (max-width: 400px) {

  .new__img {
    min-height: 300px;
  }

  .more__info {
    font-size: 18px;
    padding: 15px;
  }
  
}

*/