.recent__news {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.recent__news__title {
  font-size: 70px;
  text-transform: uppercase;
  color: aliceblue;
}

.new__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 1400px;
}

.new {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.311);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.283);
}

.new__title {
  color: rgb(224, 231, 238);
  font-size: 27px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.new__img {
  width: 100%;
  height: 450px;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new1 {
  background-image: url(../../imgs/new1.jpg);
}

#new2 {
  background-image: url(../../imgs/new2.png);
  background-position: top;
}

#new3 {
  background-image: url(../../imgs/new3.jpeg);
  background-position: top;
}

#new4 {
  background-image: url(../../imgs/new4.jpg);
  background-position: top 40% center;
}

.new__date {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: rgb(224, 231, 238);
  background-color: rgba(0, 0, 0, 0.607);
  backdrop-filter: blur(5px);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}

.more__info__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.more__info {
  text-decoration: none;
  color: rgb(224, 231, 238);
  font-size: 20px;
  background-color: rgba(21, 77, 168, 0.431);
  backdrop-filter: blur(7px);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.more__info:hover {
  transform: scale(1.05);
}

.new__img:hover > .more__info__container {
  opacity: 1;
}

.new__img:hover > .new__date {
  display: none;
}

.know__more {
  text-decoration: none;
  font-size: 35px;
  color: rgb(224, 231, 238);
  background-color: rgba(0, 0, 0, 0.461);
  border: 4px solid rgb(229, 229, 229);
  backdrop-filter: blur(2px);
  padding: 5px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.know__more:hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(27, 27, 27);
}
