.start {
  background-image: url("../../imgs/background.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  width: 100%;
}

#institutional__start {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.472), rgb(0, 0, 0)),
    url("../../imgs/institutionalBackground.webp");
  background-size: cover;
  background-attachment: fixed;
}

#affiliates__start {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.472), rgb(0, 0, 0)),
    url("../../imgs/affiliatesBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#gallery__start {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.472), rgb(0, 0, 0)),
    url("../../imgs/galleryBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#championships__start {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.472), rgb(0, 0, 0)),
    url("../../imgs/campionshipsBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.start__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 400px;
}

.start__content-center {
  margin-left: 0;
}

.start__title {
  letter-spacing: -5px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin: 0;
  text-shadow: 0 0 50px rgb(0, 0, 0);
  text-transform: uppercase;
  max-width: 1300px;
  text-align: center;
}

.start__text {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 30px rgb(0, 0, 0);
  max-width: 800px;
  text-align: center;
}
