
@font-face {
  font-family: Chivo-bold;
  src: url(../../fonts/Chivo/Chivo-Bold.ttf);
}

@font-face {
  font-family: Inter-regular;
  src: url(../../fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-medium;
  src: url(../../fonts/Inter/Inter-Medium.ttf);
}

.start {
  position: relative;
  width: calc(100%);
  height: 100vh;
  max-height: 900px;
  background-color: var(--eighth-mode-color);
  background-image: url(../../imgs/background/start-background0.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s background-image ease;
}

.start__content__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.start__data__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.start__data__title {
  font-family: Chivo-bold;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: -3px;
  line-height: 80px;
  width: 835px;
  margin: 0;
  color: var(--primary-text-color);
}

.start__data__title-animation {
  animation: moveContentLeft 2s ease;
}

.start__data__description {
  color: var(--secondary-text-color);
  width: 720px;
  margin: 0;
  font-family: Inter-regular;
  font-size: 25px;
}

.start__data__description-animation {
  animation: moveContentLeft 2s ease;
  animation-delay: 0.2s;
}

.start__data__link {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 10px 25px;
  text-decoration: none;
  color: black;
  background: var(--secondary-bg-color);
  border-radius: 5px;
  width: 150px;
  font-family: Inter-medium;
  font-size: 25px;
}

.start__data__link-animation {
  animation: moveContentLeft 2s ease;
  animation-delay: 0.4s;
}

.start__data__link:hover {
  filter: opacity(1.3);
}

.start__switch__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  right: 0;
  bottom: 50px;
  padding: 0 40px;
  z-index: 15;
}

.start__switch__language {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Inter-medium;
  font-size: 18px;
}

.start__switch {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.start__switch__background {
  width: 64px;
  background: var(--primary-text-color);
  height: 32px;
  border-radius: 15px;
  border: 2px solid var(--primary-text-color);
  display: flex;
  padding-left: 2px;
  align-items: center;
  transition: all 1s linear;
  box-sizing: border-box;
}

.start__switch__circle {
  width: 26px;
  height: 26px;
  border: 4px solid var(--primary-mode-color);
  border-radius: 50%;
  background-color: var(--primary-mode-color);
  background-image: url("../../imgs/background/sun.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.start__switch__circle-active {
  background-image: url("../../imgs/background/moon.svg");
  transform: translateX(32px);
}

.start__sliderBars__container {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  z-index: 10;
}

.start__sliderBar__element {
  background: var(--primary-text-color);
  filter: opacity(0.5);
  width: 60px;
  height: 7px;
  border-radius: 20px;
  cursor: pointer;
}

.start__sliderBar__element:hover,
.start__sliderBar__element-active {
  filter: opacity(1);
}

.start__progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background: var(--primary-text-color);
}

.start__progressBar-animation {
  animation: progressBar 12s linear infinite;
}

@keyframes progressBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes moveContentLeft {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX((0));
    opacity: 1;
  }
}

@keyframes changeStartBackground {
  0% {
    background-image: url(../../imgs/background/start-background.png);
    filter: opacity(1);
  }
  50% {
  }
  100% {
    background-image: url(../../imgs/background/start-background4.png);
    filter: opacity(1);
  }
}

/*


@media (max-width: 1200px) {
  
  .start {
    background-image: none;
  }

  .start__content {
    margin: 100px 0 0 0;  
    width: 70vw;
  }

  .start__title-CUK, .start__title {
    letter-spacing: -2;
    font-size: 7vw;
  }
  
  .start__text {
    font-size: 20px;
  }

}


@media (max-width: 600px) {

  .start__title-CUK {
    letter-spacing: 0;
    font-size: 35px;
  }

  .start__text {
    font-size: 18px;
  }
}

@media (max-width: 400px) {

  .start__title-CUK {
    font-size: 50px;
  }

}

*/
